.App {
  text-align: center;
}
.p-2{
  padding: 2rem;
}
.pl-3{
  padding-left: 1rem !important;
}
.mt-3{
  margin-top: 1rem !important;
}
.border-none{
  border: none !important;
}
.f-16{
  font-size: 16px !important
} 
.f-w-600{
  font-weight: 600;
}
.cursor-pointer{
  cursor: pointer;
}
.rating-stars i{
  font-size: 2em;
}
.input_title{
  font-size: 24px  !important ;
  color: black  !important;
  font-weight: bold  !important;
  border-bottom: 1px solid black  !important;
}